<div class="panel panel-info">
  <div class="panel-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 center">
          <input type="button" class="btn btn-success" value="Показать машины" onclick="showCars();"> 
        </div>
        <div class="col-md-6 center">
          <input type="button" class="btn btn-danger" value="Скрыть машины" onclick="hideCars();"> 
        </div>
      </div>  
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <label class="col-sm-4 control-label"> Тяжесть</label>
        <label class="col-sm-2 control-label"> Легк.</label>
        <label class="col-sm-2 control-label"> Сред.</label>
        <label class="col-sm-2 control-label"> Тяж.</label>
        <label class="col-sm-2 control-label"> ОТяж.</label>
      </div>
      <% for i in 1..4 %>
        <div class="row">
          <label class="col-sm-4 control-label"> <%= i %> тип</label>
          <% for j in 1..4 %>          
            <div class="col-sm-2 nopadding">
              <input type="button" disabled class="btn btn-danger nopadding btn-block " id="btn-car<%= i %><%= j %>" onclick="reserve_car(<%= i %>, <%= j %>);" value="0">
            </div>
          <% end %>
        </div>
      <% end %> 
    </div>  
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 center">
          <input type="button" class="btn btn-success" value="Показать ЛПУ" onclick="showLPYs();">
        </div>
        <div class="col-md-6 center">
          <input type="button" class="btn btn-danger" value="Скрыть ЛПУ" onclick="hideLPYs();">
        </div>
      </div> 
    </div>
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <label class="col-sm-4 control-label"> Тяжесть</label>
        <label class="col-sm-2 control-label"> Легк.</label>
        <label class="col-sm-2 control-label"> Сред.</label>
        <label class="col-sm-2 control-label"> Тяж.</label>
        <label class="col-sm-2 control-label"> ОТяж.</label>
      </div>
      <% for i in 1..4 %>
        <div class="row">
          <label class="col-sm-4 control-label"> <%= i %> тип</label>
          <% for j in 1..4 %>
                      
            <div class="col-sm-2 nopadding">
              <input type="button" disabled class="btn btn-danger nopadding btn-block " id="btn-lpy<%= i %><%= j %>" onclick="reserve_lpy(<%= i %>, <%= j %>);" value="0">
            </div>
          <% end %>
        </div>
      <% end %>
    </div>  
  </div>
</div>

<div class="panel">
  <input type="button" class="btn btn-primary btn-block" onclick="set_selfsolve_results();" value="Завершить решение">
  <input type="button" class="btn btn-danger btn-block " id="btn-victim<%= i %><%= j %>" onclick="update_selfsolve();" value="Начать решение сначала">
</div>

<!--<div class="panel panel-info">
  <div class="panel-heading">
      <h4> Управление решением </h4> 
  </div>
  <div class="panel-body">
    <div class="container-fluid">
      <input type="button" class="btn btn-danger btn-block " id="btn-victim<%= i %><%= j %>" onclick="update_selfsolve();" value="Начать решение сначала">
      <div class="row">
        <input type="button" class="col-sm-6 btn btn-info  id="btn-victim<%= i %><%= j %>" onclick="show_jams();" value="Показать пробки">
        <input type="button" class="col-sm-6 btn btn-info " id="btn-victim<%= i %><%= j %>" onclick="hide_jams();" value="Скрыть пробки">
      </div>
    </div>  
  </div>
</div>-->


