<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medical_institution.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @medical_institution.region %>
</p>

<p>
  <strong>X coord:</strong>
  <%= @medical_institution.x_coord %>
</p>

<p>
  <strong>Y coord:</strong>
  <%= @medical_institution.y_coord %>
</p>

<%= link_to 'Edit', edit_medical_institution_path(@medical_institution) %> |
<%= link_to 'Back', medical_institutions_path %>
